@tailwind base;

@layer base{
  @font-face {
      font-family: IRANSansX;
      font-style: normal;
      font-weight: 600;
      src: url('./fonts/IRANSans/woff/IRANSansWeb(FaNum)_Boldwoff') format('woff'),
      url('./fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Boldwoff2') format('woff2');
  }
  @font-face {
      font-family: IRANSansX;
      font-style: normal;
      font-weight: 500;
      src: url('./fonts/IRANSans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
      url('./fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2');
  }
  @font-face {
      font-family: IRANSansX;
      font-style: normal;
      font-weight: 400;
      src: url('./fonts/IRANSans/woff/IRANSansWeb(FaNum).woff') format('woff'),
      url('./fonts/IRANSans/woff2/IRANSansWeb(FaNum).woff2') format('woff2');
  }

}

@tailwind components;

@tailwind utilities;

body{
  @apply font-sans;
}